<section>
    <div>
        <%= form_for(:session, url: process_login_path) do |f| %>
            <div class="halfs-medium">
                <div class="field">
                    <%= f.label :handle %>
                    <%= f.text_field :handle %>
                </div>
                <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                </div>
            </div>
            <div class="actions">
                <%= f.submit 'Login', class: 'button' %>
            </div>
        <% end %>
    </div>
</section>
