<%- content_for :title do -%>Member Login | <%- end -%>

<%= form_section title: 'Login' do %>
    <%= form_for(:session, url: process_login_path) do |f| %>
        <div class="halfs">
            <div class="field">
                <%= f.label :handle %>
                <%= f.text_field :handle, required: '', data: {focus: ''} %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password, required: '' %>
            </div>
        </div>
        
        <div class="actions">
            <%= f.submit 'Login' %>
        </div>
    <% end %>
<% end %>
