<%- title 'New Game Membership' -%>

<%- content_for :body_class, "game_memberships-assoc-#{@assoc_type.model_name.param_key}" -%>

<%= form_section title: 'New Game Membership' do %>
    <%= form_for(@game_membership,
            url: polymorphic_path([@assoc, GameMembership]),
            method: :post
        ) do |f|
    %>
        <div class="halfs">
            <div class="field">
                <%= f.label :game_id %>
                <%- if @assoc_type == Game then -%>
                    <%= game_banner @assoc %>
                <%- else -%>
                    <%= game_select f, Game.without_member(@assoc) %>
                <%- end -%>
            </div>
            
            <div class="field">
                <%= f.label :member_id %>
                <%- if @assoc_type == Member then -%>
                    <%= member_avatar @assoc %>
                <%- else -%>
                    <%= member_select f, Member.without_game(@assoc) %>
                <%- end -%>
            </div>
        </div>

        <%= form_actions f, @assoc %>
    <% end %>
<% end %>
