<%- content_for :title do -%>New Game Membership | <%- end -%>
<%- content_for :body_class do -%>game_memberships-assoc-<%= @assoc_type %><%- end -%>

<%= form_section title: 'New Game Membership' do %>
    <%- if @game_membership.errors.any? -%>
        <div id="error_explanation">
            <h2><%= pluralize(@game_membership.errors.count, "error") %> prohibited this game membership from being saved:</h2>

            <ul>
            <% @game_membership.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <%- end -%>
    
    <%= form_for(@game_membership,
            url: polymorphic_path([@assoc, GameMembership]),
            method: :post
        ) do |f|
    %>
        <div class="halfs-medium">
            <div class="field">
                <%= f.label :game_id %>
                <%- if @assoc_type == Game then -%>
                    <%= game_banner @assoc %>
                <%- else -%>
                    <%= games_select f, Game.without_member(@assoc) %>
                <%- end -%>
            </div>
            <div class="field">
                <%= f.label :member_id %>
                <%- if @assoc_type == Member then -%>
                    <%= member_avatar @assoc %>
                <%- else -%>
                    <%= members_select f, Member.without_game(@assoc) %>
                <%- end -%>
            </div>
        </div>
        <%= user_actions do -%>
            <%= f.submit class: 'button', value: 'Save' %>
            <%= f.button 'Reset', class: 'button', type: :reset %>
            <%= link_to 'Cancel', polymorphic_path(@assoc), class: 'button' %>
        <%- end -%>
    <% end %>
<% end %>
