<article class="news-post-embed">
    <header>
        <%= news_post.member.nil? ? '' : member_avatar(news_post.member, handle: false, link: {class: 'half-size'}) %>
        <%- unless news_post.game.nil? then -%>
            <%= game_banner news_post.game, link: {class: 'half-size'} %>
        <%- else -%>
            <%= image_tag 'generic-news-post.jpg', class: 'generic' %>
        <%- end -%>
        <h1><%= news_post.title %></h1>
        <span class="news-post-date"><%= news_post.created_at.to_formatted_s :news_post %></span>
    </header>
    <main>
        <%= render_news news_post %>
    </main>
    <%- unless news_post.long_body.nil? or news_post.long_body.empty? then -%>
        <%= link_to 'Read More', news_post_path(news_post), class: 'button read-more' %>
    <%- end %>
</article>