<%= form_for(@news_post) do |f| %>
    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="halfs-medium">
        <div class="field">
            <%= f.label :member_id %><br>
            <%= member_avatar @news_post.member %>
        </div>
        <div class="field">
            <%= f.label :game_id %><br>
            <%= games_select f, Game.all, {include_blank: true} %>
        </div>
    </div>
    <div class="field">
        <%= f.label :short_body %><br>
        <%= f.text_area :short_body %>
    </div>
    <div class="field">
        <%= f.label :long_body %><br>
        <%= f.text_area :long_body %>
    </div>
    <div class="actions">
        <%= f.submit 'Save' %>
        <%= f.button 'Reset', type: :reset %>
        <%= link_to 'Cancel', (action_name == 'edit' ? @news_post : news_posts_path) %>
    </div>
<% end %>
