<%= form_for(@news_post) do |f| %>
    <%= form_field_basic f, :text_field, @news_post, :title, data: {focus: ''}, required: '' %>
    
    <div class="halfs">
        <div class="field">
            <%= f.label :member_id %>
            <%= member_avatar @news_post.member %>
        </div>
        
        <div class="field">
            <%= f.label :game_id %>
            <%= game_select f, Game.all, {include_blank: true} %>
            <%= form_errors @news_post, :game_id %>
        </div>
    </div>
    
    <%= form_field_basic f, :text_area, @news_post, :short_body, required: '' %>
    <%= form_field_basic f, :text_area, @news_post, :long_body, class: 'long' %>
    
    <%= form_actions f, (action_name == 'edit' ? @news_post : news_posts_path) %>
<% end %>
