<%= content_section 'news-post' do -%>
    <article>
        <header>
            <h2><%= @news_post.title %></h2>
            <span class="news-post-date"><%= @news_post.created_at.to_formatted_s :news_post %></span>
            <%= member_avatar @news_post.member %>
            <%= game_banner @news_post.game unless @news_post.game.nil? %>
        </header>
        <main>
            <%= render_news @news_post, true %>
        </main>
    </article>
<%- end -%>

<% content_for :user_actions do %>
    <%= icon_link_to :white, :settings, 'Edit News Post', edit_news_post_path(@news_post), class: 'button' %>
<% end %>
