<%- content_for :title do -%>New Video | <%= @member.handle %> | <%- end -%>

<%= form_section title: "New Video" do -%>
    <%= form_for(@video,
            url: member_videos_path(@member),
            method: :post
        ) do |f|
    -%>
        <div class="halfs">
            <div class="field">
                <%= f.label :game_id %>
                <%= game_select f, Game.all, {include_blank: true} %>
            </div>
            
            <div class="field">
                <%= f.label :member_id %>
                <%= member_avatar @member %>
            </div>
        </div>
        
        <div class="field">
            <%= f.label :fragment %>
            <%= f.text_field :fragment %>
        </div>
        
        <%= form_actions f, member_videos_path(@member) %>
    <%- end -%>
<%- end -%>
