<%- content_for :title do -%>Edit <%= @external_link.site_name %> Link | <%= @member.handle %> | <%- end -%>

<%= form_section title: "Edit #{@external_link.site_name} Link for #{@member.handle}" do -%>
    <%= form_for(@external_link,
            url: member_external_link_path(@member, @external_link),
            method: :patch
        ) do |f|
    -%>
        <div class="field">
            <%= f.label :site %>
            <%= external_link_icon @external_link %>
            <%= @external_link.site_name %>
        </div>
        <div class="field">
            <%= f.label :fragment %>
            <%= f.text_field :fragment %>
        </div>
        <%= user_actions do -%>
            <%= f.submit 'Save' %>
            <%= f.button 'Reset', type: :reset %>
            <%= link_to 'Cancel', member_external_links_path(@member) %>
        <%- end -%>
    <%- end -%>
<%- end -%>
