<%- content_for :title do -%>New External Link | <%= @member.handle %> | <%- end -%>

<%= form_section title: "New External Link for #{@member.handle}" do -%>
    <%- if @external_link.errors.any? -%>
        <div id="error_explanation">
            <h2><%= pluralize(@external_link.errors.count, "error") %> prohibited this external link from being saved:</h2>
            
            <ul>
                <% @external_link.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <%- end -%>
    
    <%= form_for(@external_link,
            url: member_external_links_path(@member),
            method: :post
        ) do |f|
    -%>
        <div class="field">
            <%= f.label :site %>
            <div class="radio-group thirds">
                <% ExternalLink.available_sites_for(@member).each do |t| %>
                    <div>
                        <%= f.radio_button :site, t %>
                        <label><%= ExternalLink::SITE_NAMES[t] %></label>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="field">
            <%= f.label :fragment %>
            <%= f.text_field :fragment %>
        </div>
        <div class="actions">
            <%= f.submit class: 'button' %>
            <%= f.button 'Reset', class: 'button', type: :reset %>
            <%= link_to 'Cancel', member_external_links_path(@member), class: 'button' %>
        </div>
    <%- end -%>
<%- end -%>

<%- content_for :user_actions do -%>
    <%= icon_link_to :white, 'keyboard-backspace', "Back to Member", member_path(@member), class: 'button' %>
<%- end -%>