<%- title 'New External Link', @member.handle -%>

<%= form_section title: "New External Link for #{@member.handle}" do -%>
    <%= form_for(@external_link,
            url: member_external_links_path(@member),
            method: :post
        ) do |f|
    -%>
        <div class="field">
            <%= f.label :site %>
            <div class="radio-group thirds">
                <% ExternalLink.available_sites_for(@member).each do |site| %>
                    <div>
                        <%= f.radio_button :site, site %>
                        <label><%= ExternalLink::SITE_NAMES[site.to_sym] %></label>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="field">
            <%= f.label :fragment %>
            <%= f.text_field :fragment %>
        </div>

        <%= form_actions f, member_external_links_path(@member) %>
    <%- end -%>
<%- end -%>
