<%= content_row :medium, :halfs do %>
    <%= content_section 'home-intro', title: 'A Brief Introduction' do -%>
        <p>The Contingency is a community of friends united by a love of gaming and a general philosophy of curiosity, innovation, and hilarity. What began as a technical Minecraft server has expanded to encompass many kinds of experiences: survival games, shooters, minigames, building games, online board games, and more. Members often stream their activity at Twitch.tv and/or post videos to YouTube; and we love to interact with viewers. Depending on what's going on, we will sometimes invite viewers to tag along!</p>
    <%- end -%>
    
    <%= content_section 'home-latest-news', title: 'Latest News' do -%>
        <%= render partial: 'news_posts/embed', locals: {news_post: @news_post} -%>
    <%- end -%>
<%- end -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'home-games', title: 'Some Games We Enjoy' do -%>
        <ul>
            <%- @games.each do |game| -%>
                <li><%= game_banner game %></li>
            <%- end -%>
            <li class="see-all"><%= link_to 'All Games', games_path, class: 'button' %></li>
        </ul>
    <%- end -%>
    
    <%= content_section 'home-members', title: 'Some of Our Members' do -%>
        <ul>
            <%- @members.each do |member| -%>
                <li><%= member_avatar member %></li>
            <%- end -%>
            <li class="see-all"><%= link_to 'All Members', members_path, class: 'button' %></li>
        </ul>
    <%- end -%>
<%- end -%>
