<%= form_for(@game, html: {multipart: true}) do |f| -%>
    <div class="halfs">
        <%= form_field_basic f, :text_field, @game, :name, data: {focus: ''}, required: '' %>
        <%= form_field_basic f, :text_field, @game, :slug, required: '' %>
    </div>
    
    <div class="field">
        <label>Attributes</label>
        <div class="check-group">
            <div>
                <%= f.check_box :featured %>
                <%= f.label :featured %>
            </div>
        </div>
        <%= form_errors @game, :featured %>
    </div>
    
    <div class="halfs hide_small">
        <%- opts = {} -%>
        <%- opts[:required] = '' unless is_editing_action? -%>
        <%= form_field_basic f, :file_field, @game, :banner, opts %>
        
        <div class="field">
            <%- if @game.banner? then -%>
                <label>Current Banner</label>
                <div class="game-banner">
                    <%= game_banner_img @game %>
                </div>
            <%- end -%>
        </div>
    </div>
    
    <div class="halfs hide_small">
        <%= form_field_basic f, :file_field, @game, :info_bg %>
        
        <div class="field">
            <%- if @game.info_bg? then -%>
                <label>Current Info Section Background</label>
                <div class="game-info_bg">
                    <%= image_tag @game.info_bg.url %>
                </div>
            <%- end -%>
        </div>
    </div>
    
    <div class="halfs hide_small">
        <%= form_field_basic f, :file_field, @game, :logo %>
        
        <div class="field">
            <%- if @game.logo? then -%>
                <label>Current Info Section Logo</label>
                <div class="game-logo">
                    <%= image_tag @game.logo.url %>
                </div>
            <%- end -%>
        </div>
    </div>
    
    <%= form_field_basic f, :text_area, @game, :description, required: '' %>
    
    <%= form_actions f, (is_editing_action? ? @game : games_path) %>
<%- end -%>