<%- title @game.name, 'Games' -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'game-show-info' do -%>
        <% record_cache @game do %>
            <%= game_banner @game, link: false %>
            <div class="description"><%= render_markdown @game.description -%></div>
        <% end %>
        
        <%= user_actions is_admin?,
            settings: ['Edit', edit_game_path(@game)],
            'image-area' => ['Backgrounds', game_background_images_path(@game)],
            delete: ['Delete', @game]
        %>
    <%- end -%>

    <%= content_section 'game-show-news_post', title: 'Related News' do -%>
        <%= render partial: 'news_posts/embed', locals: {news_post: @game.news_posts.last} -%>
    <%- end -%>
<%- end -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'game-show-players', title: 'Players' do -%>
        <%= render partial: 'game_memberships/list', locals: {assoc: @game} %>
    <%- end -%>
    
    <%= content_section 'game-show-videos', class: 'hide_small', title: 'Recent Videos' do -%>
        <%= render partial: 'videos/list', locals: {assoc: @game} %>
    <%- end -%>
<%- end -%>
