<%= content_row :large, :halfs do -%>
    <%= content_section 'game-info', title: @game.name do -%>
        <div class="game-banner"> <%= game_banner_img @game -%></div>
    <%- end -%>
    
    <%= content_section 'game-related-news', title: 'Related News' do -%>
        <%- unless @news_post.nil? then -%>
            <%= render partial: 'news_posts/embed', locals: {news_post: @news_post} -%>
        <%- end -%>
    <%- end -%>
<%- end -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'game-related-members', title: 'Players' do -%>
        <%= render partial: 'members/list', locals: {members: @members} %>
    <%- end -%>
    
    <%= content_section 'game-related-media', title: 'Media' do -%>
    <%- end -%>
<%- end -%>

<%= content_for :user_actions do -%>
    <%- admin_only do -%>
        <%= icon_link_to :white, :settings, 'Edit Game', edit_game_path(@game), class: 'button' %>
        <%= icon_link_to :white, 'image-area', 'Backgrounds', game_background_images_path(@game), class: 'button' %>
        <%= icon_link_to :white, 'account-multiple', 'Members', game_game_memberships_path(@game), class: 'button' %>
        <%= icon_delete_link :white, 'Delete Game', game_path(@game), class: 'button danger' %>
    <%- end -%>
<%- end -%>