<%= content_section 'background-images-index', title: "Background Images For #{backgroundable_title}" do -%>
    <ul>
        <%- @background_images.each do |bg| -%>
            <li>
                <%= image_tag bg.image.url -%>
                <%= icon_link_to :white,
                    :delete,
                    '',
                    poly_background_image_path(bg),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }
                %>
            </li>
        <%- end -%>
    </ul>
<%- end -%>

<%- content_for :user_actions do -%>
    <%= link_to_if is_admin?, "New Background", new_poly_background_image_path, class: 'button' %>
    <%= link_to "Back to #{backgroundable_type.to_s.titleize}", backgroundable_path, class: 'button' %>
<%- end -%>