<%- content_for :title do -%>Backgrounds for <%= @backgroundable.name %> | <%- end -%>
<%- content_for :body_class do -%>background_images-assoc-<%= @backgroundable_type.model_name.param_key %> <%- end -%>

<%= content_section 'background-images-index', title: "Background Images for #{@backgroundable.name}" do -%>
    <ul>
        <%- @backgroundable.background_images.each do |bg| -%>
            <li>
                <%= image_tag bg.image.url -%>
                <%= user_action_icons is_admin_or?(@backgroundable),
                    delete: polymorphic_path([@backgroundable, bg])
                %>
            </li>
        <%- end -%>
    </ul>
    <%= user_actions do -%>
        <%- if is_admin? then -%>
            <%= action_link_to :plus,
                "Add Background",
                new_polymorphic_path([@backgroundable, BackgroundImage])
            %>
        <%- end -%>
        <%= action_link_to 'keyboard-backspace',
            "Back to #{@backgroundable_type.model_name.human}",
            @backgroundable
        %>
    <%- end -%>
<%- end -%>
