<%- content_for :title do -%>Backgrounds for <%= backgroundable_title %> | <%- end -%>
<%- content_for :body_class do -%>background_images-assoc-<%= backgroundable_type %><%- end -%>

<%= content_section 'background-images-index', title: "Background Images for #{backgroundable_title}" do -%>
    <ul>
        <%- @background_images.each do |bg| -%>
            <li>
                <%= image_tag bg.image.url -%>
                <%= user_action_icons is_admin? do -%>
                    <%= icon_delete_link :white, '', poly_background_image_path(bg) %>
                <%- end -%>
            </li>
        <%- end -%>
    </ul>
    <%= user_actions is_admin? do -%>
        <%= icon_link_to :white, :plus, "Add New Background", new_poly_background_image_path, class: 'button' %>
    <%- end -%>
<%- end -%>

<%- content_for :user_actions do -%>
    <%= icon_link_to :white, 'keyboard-backspace', "Back to #{backgroundable_type.to_s.titleize}", backgroundable_path, class: 'button' %>
<%- end -%>