<%- content_for :title do -%>New Background | <%= @backgroundable.name %> | <%- end -%>

<%= form_section title: "New Background Image for #{@backgroundable.name}" do -%>
    <%- if @background_image.errors.any? -%>
        <div id="error_explanation">
            <h2><%= pluralize(@background_image.errors.count, "error") %> prohibited this game from being saved:</h2>
            <ul>
                <% @background_image.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <%- end -%>
    <%= form_for(@background_image,
            html: {multipart: true},
            url: polymorphic_path([@backgroundable, BackgroundImage]),
            method: :post
        ) do |f|
    -%>
        <div class="halfs-medium">
            <div class="field backgroundable-info">
                <label><%= @backgroundable_type.model_name.human %></label>
                <%- case @backgroundable_type.model_name -%>
                <%- when 'Game' -%>
                    <%= game_banner @backgroundable %>
                <%- when 'Member' -%>
                    <%= member_avatar @backgroundable %>
                <%- end -%>
            </div>
            <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
        </div>
        <%= user_actions do -%>
            <%= f.submit class: 'button' %>
            <%= f.button 'Reset', class: 'button', type: :reset %>
            <%= link_to 'Cancel', polymorphic_path([@backgroundable, BackgroundImage]), class: 'button' %>
        <%- end -%>
    <%- end -%>
<%- end -%>