<%= content_section do -%>
    <%- if @background_image.errors.any? -%>
        <div id="error_explanation">
            <h2><%= pluralize(@background_image.errors.count, "error") %> prohibited this game from being saved:</h2>

            <ul>
            <% @background_image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <%- end -%>

    <%= form_for(@background_image,
            html: {multipart: true},
            url: poly_background_images_path,
            method: :post
        ) do |f|
    -%>
        <div class="halfs-medium">
            <div class="field backgroundable-info">
                <label><%= backgroundable.class.to_s.titleize %></label>
                <%- case backgroundable_type -%>
                <%- when :game -%>
                    <%= game_banner backgroundable %>
                <%- when :member -%>
                    <%= member_avatar backgroundable %>
                <%- end -%>
            </div>
            <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
        </div>
        <div class="actions">
            <%= f.submit class: 'button' %>
            <%= f.button 'Reset', class: 'button', type: :reset %>
            <%= link_to 'Cancel', poly_background_images_path, class: 'button' %>
        </div>
    <%- end -%>
<%- end -%>

<%- content_for :user_actions do -%>
    <%= link_to "Back to #{backgroundable_type.to_s.titleize}", backgroundable_path, class: 'button' %>
<%- end -%>