<%- title 'New Background', @backgroundable.name -%>

<%= form_section title: "New Background for #{@backgroundable.name}" do -%>
    <%= form_for(@background_image,
            html: {multipart: true},
            url: polymorphic_path([@backgroundable, BackgroundImage]),
            method: :post
        ) do |f|
    -%>
        <div class="halfs">
            <div class="field">
                <label><%= @backgroundable_type.model_name.human %></label>
                <%- case @backgroundable_type.model_name -%>
                <%- when 'Game' -%>
                    <%= game_banner @backgroundable %>
                <%- when 'Member' -%>
                    <%= member_avatar @backgroundable %>
                <%- end -%>
            </div>
            
            <%= form_field_basic f, :file_field, @background_image, :image, required: '' %>
        </div>
        
        <%= form_actions f, polymorphic_path([@backgroundable, BackgroundImage]) %>
    <%- end -%>
<%- end -%>