<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <!-- metaquery breakpoints -->
    <meta name="breakpoint" content="small" media="(max-width: 799px)">
    <meta name="breakpoint" content="medium" media="(min-width: 800px)">
    <meta name="breakpoint" content="large" media="(min-width: 1150px)">
    <meta name="breakpoint" content="wide" media="(min-width: 1660px)">
    <meta name="breakpoint" content="retina" media="(-webkit-min-device-pixel-ratio: 2)">
    
    <title><%= yield :title %>The Contingency</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>-controller <%= action_name %>-action">
    <%= image_tag featured_background_image.image.url, id: 'featured-background-image' %>
    <header>
        <div>
            <h1><%= icon_link_to :white, 'contingency-symbol', 'The Contingency', root_path %></h1>
            <%= icon :white, :menu %>
            <nav>
                <%= icon_link_to :white, :gamepad, 'Games', games_path, class: 'hover-hilite' %>
                <%= icon_link_to :white, 'account-multiple', 'Members', members_path, class: 'hover-hilite' %>
            </nav>
        </div>
    </header>
    <main>
        <%- unless flash.empty? then -%>
            <%= content_section :flash do -%>
                <%- %w(alert error notice).each do |ftype| -%>
                    <%- if flash[ftype.to_sym] then -%>
                        <div class="flash flash-<%= ftype %>"><%= flash[ftype.to_sym] %></div>
                    <%- end -%>
                <%- end -%>
            <%- end -%>
        <%- end -%>
        <%= yield %>
        <%- if logged_in? then -%>
            <div class="actions">
                <%= yield :user_actions -%>
                <%= link_to current_user.handle, member_path(current_user), class: 'button' %>
            </div>
        <%- end -%>
    </main>
    <footer>
        <div>
            <div class="copyright">Copyright &copy; 2015, The Contingency. All rights reserved.</div>
            <nav>
                <%= link_to_if logged_in?, 'Logout', logout_path, class: 'hover-hilite', method: 'delete' do %>
                    <%= link_to 'Login', login_path, class: 'hover-hilite' %>
                <% end %>
                <%= link_to 'Games', games_path, class: 'hover-hilite' %>
                <%= link_to 'Members', members_path, class: 'hover-hilite' %>
            </nav>
        </div>
    </footer>
</body>
</html>
