<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <!-- metaquery breakpoints -->
    <meta name="breakpoint" content="small" media="(max-width: 799px)">
    <meta name="breakpoint" content="medium" media="(min-width: 800px)">
    <meta name="breakpoint" content="large" media="(min-width: 1160px)">
    <meta name="breakpoint" content="wide" media="(min-width: 1640px)">
    <!--<meta name="breakpoint" content="retina" media="(-webkit-min-device-pixel-ratio: 2)">-->

    <meta name="keywords" content="gaming community website,pc gaming community,gaming,gaming community,The Contingency,Contingency,contingency gaming,youtube,twitch,twitch tv,Twitch.tv,livestream,video games,youtube video,minecraft youtube,minecraft server,minecraft community,<%= yield :page_keywords %>">

    <%-
        if content_for? :page_description then
            page_description = yield :page_description
        else
            page_description = "The Contingency is a community of friends united by gaming and a philosophy of curiosity, innovation, and hilarity. It began with a technical Minecraft server and expanded to a variety of games and other experiences, published to YouTube or running live on Twitch."
        end
    -%>
    <meta name="description" content="<%= page_description %>">
    <meta name="copyright" content="Copyright 2015, The Contingency. All rights reserved.">
    
    <title><%= yield :title %>The Contingency</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
</head>
<body
    class="<%= controller_name %>-controller <%= action_name %>-action <%= yield :body_class %>"
    <%= featured_background_image.nil? ? '' : "data-background=#{featured_background_image.image.url}" %>
>
    <header>
        <div>
            <h1><%= icon_link_to 'contingency-symbol', 'The Contingency', root_path %></h1>
            <%= icon :menu %>
            <nav>
                <%= icon_link_to 'gamepad-multiple', 'Games', games_path, id: 'header-nav-games' %>
                <%= icon_link_to 'account-multiple', 'Members', members_path, id: 'header-nav-members' %>
                <%= icon_link_to :newspaper, 'News', news_posts_path, id: 'header-nav-news_posts' %>
                <%- if logged_in? then -%>
                    <%= icon_link_to :account, current_user.handle, current_user %>
                <%- end -%>
            </nav>
        </div>
    </header>
    <main>
        <%- unless flash.empty? then -%>
            <%= content_section :flash do -%>
                <%- %w(alert error notice).each do |ftype| -%>
                    <%- if flash[ftype.to_sym] then -%>
                        <div class="flash flash-<%= ftype %>"><%= flash[ftype.to_sym].html_safe %></div>
                    <%- end -%>
                <%- end -%>
            <%- end -%>
        <%- end -%>
        <%= yield %>
    </main>
    <footer>
        <div>
            <div class="copyright">Copyright &copy; 2015, The Contingency. All rights reserved.</div>
            <nav>
                <%= link_to_if logged_in?, 'Logout', logout_path, method: 'delete' do %>
                    <%= link_to 'Login', login_path %>
                <% end %>
                <%= link_to 'Games', games_path %>
                <%= link_to 'Members', members_path %>
                <%= link_to 'News', news_posts_path %>
            </nav>
        </div>
    </footer>
</body>
</html>
