<%= form_for(@member) do |f| %>
    <% if @member.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
            <ul>
                <% @member.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="halfs-medium">
        <div class="field">
            <%= f.label :handle %>
            <%= f.text_field :handle %>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
    </div>
    <div class="halfs-medium">
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
    </div>
    <div class="halfs-medium hide-small">
        <div class="field">
            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
        </div>
        <div class="field">
            <%- unless @member.avatar.url.empty? then -%>
                <label>Current Avatar</label>
                <div class="member-avatar">
                    <%= member_avatar_img @member %>
                </div>
            <%- end -%>
        </div>
    </div>
    <div class="field">
        <%= f.label :biography %>
        <%= f.text_area :biography, class: 'long' %>
    </div>
    <%- if is_admin? then -%>
        <div class="halfs-medium">
            <div class="field">
                <%= f.label :rank %>
                <div class="radio-group halfs">
                    <% ContingencyRanks::RANKS.each do |rank| %>
                        <div>
                            <%= f.radio_button :rank, rank.symbol %>
                            <label><%= rank.name %></label>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="field">
                <%= f.label :role %>
                <div class="radio-group halfs">
                    <% ContingencyRoles::ROLES.each do |role| %>
                        <div>
                            <%= f.radio_button :role, role.symbol %>
                            <label><%= role.name %></label>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <%- end -%>
    <%= user_actions do -%>
        <%= f.submit class: 'button' %>
        <%= f.button 'Reset', class: 'button', type: :reset %>
        <%= link_to 'Cancel', (action_name == 'edit' ? member_path(@member) : members_path), class: 'button' %>
    <%- end -%>
<% end %>
