<%= form_for(@member) do |f| %>
    <div class="halfs">
        <%= form_field_basic f, :text_field, @member, :handle, data: {focus: ''}, required: '' %>
        <%= form_field_basic f, :text_field, @member, :email %>
    </div>
    
    <div class="halfs">
        <%- passwd_options = {} -%>
        <%- passwd_options[:required] = '' if is_creating_action? -%>
        <%= form_field_basic f, :password_field, @member, :password, passwd_options %>
        <%= form_field_basic f, :password_field, @member, :password_confirmation, passwd_options %>
    </div>
    
    <div class="halfs hide_small">
        <%= form_field_basic f, :file_field, @member, :avatar %>
        
        <div class="field">
            <label>Current Avatar</label>
            <div class="member-avatar">
                <%= member_avatar_img @member %>
            </div>
        </div>
    </div>

    <%= form_field_basic f, :text_area, @member, :biography %>
    
    <%- if is_admin? then -%>
        <div class="halfs">
            <div class="field">
                <%= f.label :rank %>
                <div class="radio-group halfs">
                    <% ContingencyRanks::RANKS.each do |rank| %>
                        <div>
                            <%= f.radio_button :rank, rank.symbol %>
                            <label><%= rank.name %></label>
                        </div>
                    <% end %>
                </div>
            </div>
            
            <div class="field">
                <%= f.label :role %>
                <div class="radio-group halfs">
                    <% ContingencyRoles::ROLES.each do |role| %>
                        <div>
                            <%= f.radio_button :role, role.symbol %>
                            <label><%= role.name %></label>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <%- end -%>

    <%= form_actions f, (action_name == 'edit' ? @member : members_path) %>
<% end %>
