<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= member_avatar @member %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @member.biography %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @member.handle %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @member.rank %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
