<%- content_for :title do -%><%= @member.handle %> | Members | <%- end -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'member-info' do -%>
        <%= member_avatar @member, link: false %>
        <div class="member-biography"><%= render_markdown @member.biography %></div>
    <%- end -%>
    
    <%= content_section 'member-external-links' do -%>
        nada
    <%- end -%>
<%- end -%>

<%= content_row :large, :halfs do -%>
    <%= content_section 'member-games', title: 'Games' do -%>
        <%= render partial: 'games/list', locals: {games: @games} %>
    <%- end -%>
    
    <%= content_section 'member-recent-videos', title: 'Recent Videos' do -%>
    <%- end -%>
<%- end -%>

<% content_for :user_actions do %>
    <%- admin_or @member do -%>
        <%= icon_link_to :white, :settings, 'Edit Member', edit_member_path(@member), class: 'button' %>
        <%= icon_link_to :white, 'image-area', 'Backgrounds', member_background_images_path(@member), class: 'button' %>
        <%= icon_link_to :white, 'gamepad-multiple', 'Games', member_game_memberships_path(@member), class: 'button' %>
        <%= icon_delete_link :white, 'Delete Member', member_path(@member), class: 'button danger' %>
    <%- end -%>
<% end %>
