<%- title @member.handle, 'Members' -%>

<%- content_for :page_keywords do -%><%= @member.handle -%><%- end -%>

<%- content_for :page_description do -%><%= @member.handle -%> is a member of The Contingency, a community of gaming friends who believe in innovation and having fun!<%- end -%>

<%- content_for :member_show_games do -%>
    <%= content_section 'member-show-games', title: 'Games' do -%>
        <%= render partial: 'game_memberships/list', locals: {assoc: @member} %>
    <%- end -%>
<%- end -%>

<%- if @member.videos.count > 0 || is_admin_or?(@member) then -%>
    <%- content_for :member_show_videos do -%>
        <%= content_section 'member-show-videos', class: 'hide_small', title: 'Recent Videos' do -%>
            <%= render partial: 'videos/list', locals: {assoc: @member, show_actions: true} %>
        <%- end -%>
    <%- end -%>
<%- end -%>

<%= content_section 'member-show-info' do -%>
    <% record_cache @member do %>
        <%= member_avatar @member, link: false, handle: false %>
        
        <%- twitch_link = nil -%>
        <div id="member-show-external_links">
            <%- @member.external_links.each do |el| -%>
                <%= link_to external_link_icon(el), external_link_resource_url(el), target: '_blank' %>
                <%- twitch_link = el if el.site == 'twitch' -%>
            <%- end -%>
        </div>
        
        <h2><%= @member.handle %></h2>
        
        <%- unless twitch_link.nil? then -%>
            <%- fragment = twitch_link.fragment -%>
            <a
                id="member-show-twitch_preview"
                href="<%= external_link_twitch_channel_url fragment %>"
                data-fragment="<%= fragment %>"
                target="_blank"
            >
                <span>Live Now @ Twitch: <span class="title"></span></span>
                <span>Playing <span class="game"></span> with <span class="viewers"></span> viewers.</span>
            </a>
        <%- end -%>
        
        <%- unless @member.biography.empty? then -%>
            <div id="member-show-biography"><%= render_markdown @member.biography %></div>
        <%- end -%>
    <% end %>
    
    <%= user_actions is_admin_or?(@member),
        settings: ['Edit', edit_member_path(@member)],
        link: ['Links', member_external_links_path(@member)],
        'image-area' => ['Backgrounds', member_background_images_path(@member)] do
    -%>
        <%- if is_admin? then -%>
            <%= icon_delete_link 'Delete', @member %>
        <%- end -%>
    <%- end -%>
<%- end -%>

<%- if content_for? :member_show_videos then -%>
    <%= content_row :large, :halfs do -%>
        <%= yield :member_show_games %>
        <%= yield :member_show_videos %>
    <%- end -%>
<%- else -%>
    <%= yield :member_show_games %>
<%- end -%>
